body {
    height: 100%;
    width: 100%;
    background: #f0f4f8;
    margin: 0;
    padding: 0;
}

#project-name {
    position: relative;
    top: 50px;
    left: 150px;
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    word-spacing: -1.2px;
    color: #2a4365;
    font-weight: 700;
    text-decoration: underline rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}

#add-task {
    position: relative;
    display: inline;
    padding: 4px;
    left: 45%;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: bold;
    color: #1a365d;
    border: 1px solid #4a5568   ;
    border-radius: 5px;
    border-width: 2px;
}

#add-task:hover {
    cursor: pointer;
    background-color: #cbd5e0;
}

.task-table {
    position: relative;
    display: flex;
    justify-content: center;
    top: 70px;
    height: 70vh;
}

.to-do, .in-progress, .done {
    position: relative;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
    padding: 15px;
    white-space: nowrap;
    align-self: flex-start;
    right: 250px;
}
